.contributors {
  display: flex;
  flex-direction: column;
  background: var(--color-bg);
}
.container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3rem;
  margin-top: 3rem;
}
.containerImage {
  padding: 0;
  align-self: center;
}
.image {
  border: 1px solid var(--color-footer-field);
  border-radius: 50%;
  height: 5.25rem;
  width: 5.25rem;
  overflow: hidden;
}
.contributorsButton {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  justify-content: center;
}
@media screen and (max-width: 1080px) {
  .container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 3rem;
    margin-top: 3rem;
  }
}
@media screen and (max-width: 880px) {
  .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 3rem;
    margin-top: 3rem;
  }
}
@media screen and (max-width: 550px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 3rem;
    margin-top: 3rem;
  }
}
