.timelineContainer {
  width: 100%;
  background-color: #d9d9d9;
}

ul.release-items {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
}

.timeline-item-title {
  padding: 12px 16px;
  border-radius: 50px;
}

.timeline-item-title:nth-child(1) {
  background-color: #eeeeee;
  color: #2c74ff;
  padding: 12px 16px;
  border-radius: 50px;
}
/* #timeline-main-wrapper > div > div:nth-child(1) > div.timeline-vertical-circle.left > div > div{
    
} */

div[class^='timeline-horizontal-cardstyles__Circle-sc-']:after {
  background-color: #ffdf00 !important;
}

.timeline-card-content {
  width: 58% !important;
  border-radius: 10px !important;
  padding: 10px 15px;
  min-height: 225px !important;
}

.timeline-controls {
  display: none !important;
}

ul.release-items > li {
  font-size: 20px;
  color: #000;
  margin-bottom: 10px;
}

h3 {
  color: #2c74ff;
  font-size: 30px;
  margin-bottom: 15px;
}

#timeline-main-wrapper {
  padding: 0;
}

@media (max-width: 768px) {
  .timeline-card-content {
    width: 100% !important;
  }

  .timeline-item-title {
    font-size: 16px !important;
  }

  ul.release-items > li {
    font-size: 14px;
  }
}
