@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');
* {
  font-family: 'Manrope', sans-serif;
}
.FeatureTitle {
  font-weight: 600;
  font-size: 20px;
}
.Featuredescrip {
  font-weight: 400;
  font-size: 15px;
  padding-top: 5px;
}
.Feature2T {
  font-weight: 600;
  font-size: 45px;
}
.featurecard {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
}
.Feature2D {
  font-size: 18px;
  font-weight: normal;
}
.securityprimarytitle {
  font-weight: 800;
  font-size: 36px;
  line-height: 60px;
}
.securitytitle {
  font-size: 24px;
}
.securitydes {
  color: #828282;
  font-style: normal;
  font-size: 13px;
}
.ChallengeTitle {
  font-weight: 700;
  font-size: 40px;
  color: black;
}
.challengecardtitle {
  font-weight: 700;
  font-size: 20px;
  padding-top: 20px;
}
.challengecarddes {
  font-weight: 400;
  font-size: 15px;
  padding-top: 20px;
  color: #616161;
}
.covercontent {
  background-image: url('../images/landing/Coverpage.png');
  background-size: cover;
  background-size: 100% 100%;
  /* background-image: url('../images//Cover/coverkubearmor1.png');
  background-size: 89%;
  background-position: center 67%; */
  background-repeat: no-repeat;
  /* background: whitesmoke; */
}
/* @media only screen and (min-width: 600px) {
  .covercontent {
    background-size: 50% 50%;
  }
}
@media (min-width: 768px) {
  .covercontent {
    background-size: 70% 70%;
  }
}
@media (min-width: 1200px) {
  .covercontent {
    background-size: 100% 100%;
  }
}
@media (min-width: 1600px) {
  .covercontent {
    background-size: 100% 100%;
  }
} */
.covertitle {
  font-weight: 700;
  font-size: 40px;
}
.coverdes {
  font-size: 13px;
  color: #828282;
}
.coverletter {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;

  letter-spacing: 0.4px;
}
.Coverbutton {
  width: 24px;
  height: 24px;
}
.featureelements {
  font-weight: 800;
  font-size: 40px;
  line-height: 45px;
}
.featurelist {
  color: #4f4f4f;
  line-height: 25px;
  font-size: 15px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
}
.Elementfeatures {
  background-image: url('../images/Features/Featureelement.png');
  background-size: cover;
  /* background-size: 100% 100%; */
  background-size: 89%;
  background-position: center 67%;
  background-repeat: no-repeat;
}
.keyfeaturetitle {
  color: #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}
.Keyfeaturesdes {
  color: #828282;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
}
.Videocards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
.footerlogocollection {
  display: flex;
  justify-content: center;
}
.footerlogocollection > div {
  background-color: #000000;
  padding: 10px;
  margin-left: 15px;
}
.footersociallogo {
  width: 16.59px;
  height: 10.61px;
}
.demopoliciescard {
  background: #fcfcfc;
  box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.13);
  border-radius: 7px;
}
.demopoliciestext > p {
  color: #828282;
}
.demopoliciesblack {
  color: black !important;
}
.Keyfeatureicon {
  padding: 12px;
  background-color: #18214d;
  border-radius: 100%;
}
.Featurekeycards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (min-width: 576px) {
  .Videoplayer {
    width: 600px;
    height: 350px;
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  .Videoplayer {
    width: 600px;
    height: 350px;
    padding: 1rem;
  }
}
@media (min-width: 1200px) {
  .Videoplayer {
    width: 600px;
    height: 350px;
    padding: 1rem;
  }
  .kubedemo {
    width: 720px;
    height: 480px;
  }
}
@media (min-width: 1600px) {
  .Videoplayer {
    width: 620px;
    height: 370px;
    padding: 1rem;
  }
}
.dpbuttontype {
  width: 100%;
  height: 120px;
  background: #c8d4ff;
  color: #002bc1;
  border-radius: 11px;
}
.dpbuttontype2 {
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.14);
  border-radius: 11px;
}
.demopoliciescard p {
  font-size: smaller;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1;
}
.dpfontsize {
  font-size: x-small !important;
}

.slackbutton {
  width: 15%;
}

.bg-gradient {
  background-color: linear-gradient(179.62deg, #fafcff 15%, #e1ebff 102.93%) !important;
}

.blogs-cards {
  position: absolute;
  background: #ffffff;
  box-shadow: 0px 5px 7px 1px rgba(82, 122, 182, 0.15);
  border-radius: 8px;
}

.banner {
  background: #0b4296;
  color: white;
  display: flex;
  font-size: 19px;
}

.banner:hover {
  color: greenyellow;
  text-decoration: none;
}
