.FeatureTitle {
  font-weight: 600;
  font-size: 20px;
}
.Featuredescrip {
  font-weight: 400;
  font-size: 15px;
  padding-top: 5px;
}
.Feature2T {
  font-weight: 600;
  font-size: 45px;
}
.featurecard {
  background-color: #fff;
}
.Feature2D {
  font-size: 18px;
  font-weight: normal;
}
.ChallengeTitle {
  font-weight: 700;
  font-size: 40px;
  color: black;
}
.challengecardtitle {
  font-weight: 700;
  font-size: 20px;
  padding-top: 20px;
}
.challengecarddes {
  font-weight: 400;
  font-size: 16px;
  padding-top: 20px;
}
.covercontent {
  background-image: url('../src/images/landing/Coverpage.png');
  background-size: cover;
  background-size: 100% 100%;
}
.covertitle {
  font-weight: 700;
  font-size: 45px;
}
.coverdes {
  font-weight: 400;
  font-size: 15px;
}
