.button {
  background-color: var(--color-primary);
  color: var(--color-white);
  font-family: var(--font-main-medium);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0.75rem 1.5rem;
  gap: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.button:hover {
  text-decoration: none;
  opacity: 0.8;
  color: var(--color-white);
}
